#map {
  height: 700px;
  width: 1000px;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5px;
  border-color: grey;
}
.header {
  color: black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
} 

.center-container {
  margin: 30vh 0 30vh 0;
}
